.taskList {
  margin: 0 auto;
  width: 320px;
  padding: 0 15px 15px;
}

.errorMessage {
  display: block;
  margin: 15px auto 0;
  text-align: center;
  font-family: 'Arial';
  font-size: 16px;
  font-weight: bold;
  color: #ca4b3f;
  letter-spacing: 1px;
}

.activeFilter {
  background-color: aquamarine;
}

.controls {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}