.App .inputForm {
  margin-bottom: 45px;
  gap: 10px;
  justify-content: flex-start;
}

.App .taskForm {
  margin-bottom: 15px;
}

.App .inputForm input {
  background-color: rgba(255, 255, 255, 0.47);
  border-radius: 5px;
}

.App .inputForm input:focus {
  background-color: unset;
}

.App .taskForm input {
  padding-left: 10px;
  max-width: 140px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
